<%- include('_header.ejs')%>
	<h2>
		<%=pageTitle%>
	</h2>
	<p></p>
	<ul>
		<% books.forEach(book=> { %>
			<li>
				<%=book.title%> (<%=book.author.lastName%>)
						<ul>
							<% book.customers.forEach(customer=> { %>
								<li><%=customer.firstName%></li>
								<% })%>
						</ul>
			</li>
			<% });
			   %>
	</ul>
	<%- include('_footer.ejs')%>