<%- include('_header.ejs')%>
	<h2>
		<%=pageTitle%>
	</h2>
	<% books.forEach(book=> { %>
		<div class="book">
			<img src="images/<%=book.isbn%>.jpg" alt="">
			<div class="info">
				<div class="title"><%=book.title%></div>
				<div class="author">by <span class="main"><%=book.author.firstName%> <%=book.author.lastName%></span></div>
			</div>
		</div>
	<% }); %>
<%- include('_footer.ejs')%>