<%- include('_header.ejs')%>
	<h2>
		<%=pageTitle%>
	</h2>
	<% books.forEach(book=> { %>
		<div class="book">
			<img src="images/<%=book.isbn%>.jpg" alt="">
			<%=book.title%>
		</div>
	<% }); %>
<%- include('_footer.ejs')%>